@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dash_sidebar {
  overflow-y: scroll;
  max-height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dash_sidebar::-webkit-scrollbar {
  display: none;
}

.dash_sidebar {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.page_content {
  overflow-y: scroll;
  max-height: 100vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.page_content::-webkit-scrollbar {
  display: none;
}

.page_content {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
